@{
    ViewData["Title"] = "Dashboard";
}
@model DashboardViewModel
<div class="containerDashboard">
    <div class="taskBar">Mail</div>
    <div class="mailContainer">
        <div class="compose">
            <button class="button-3d" id="composeMessageButton" asp-bs-toggle="modal" asp-bs-target="#composeMessageModal">Compose</button>
            <div class="modal fade" id="submitComposeMessageModal" tabindex="-1" aria-labeledby="submitComposeMessageModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="submitFormModalLabel">Submit Form</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <form asp-action="ComposeMessage" asp-controller="Gmail" method="post">
                            <div class="modal-body">
                                <div class="mb-3">
                                    <label for="name" class="form-label">Name</label>
                                    <input type="text" class="form-control" id="name" name="Name" required>
                                </div>
                                <div class="mb-3">
                                    <label for="email" class="form-label">Email</label>
                                    <input type="email" class="form-control" id="email" name="Email" required>
                                </div>
                                <div class="mb-3">
                                    <label for="message" class="form-label">Message</label>
                                    <textarea class="form-control" id="message" name="Message" rows="3" required></textarea>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="mail">
            <div>
                @foreach (var item in Model.Messages)
                {
                    <button class="button-3d" data-bs-toggle="modal" data-bs-target="#messageModal@(item.Id)">
                        <div class="mailPackets">
                            <div>@TransmuteDateTime(@item.Date)</div>
                            <div class="messageHeader">@item.Header.Trim()</div>
                            <div class="messageBody">@item.Body</div>
                        </div>
                    </button>
                    <div id="messageModal@(item.Id)" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="messageModalLabel@(item.Id)" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content modal-content-html">
                                <div class="modal-header">
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    <h5 class="modal-title" id="messageModalLabel@(item.Id)">@item.Header.Trim()</h5>
                                </div>
                                <div class="modal-body modal-body-html">
                                    @Html.Raw(item.Html)
                                </div>
                                <div class="modal-footer">
                                    @TransmuteDateTime(@item.Date)
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
@functions {
    public string TransmuteDateTime(long? param)
    {
        var time = param ?? 0;
        DateTime dateTime = DateTimeOffset.FromUnixTimeMilliseconds(time).DateTime.AddHours(-4);
        return dateTime.ToString("g");
    }
}